@import "bootstrap";
@import "rails_bootstrap_forms";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
  --main: #3778c2;
  --second: #5fb523;
  --text: #434b54;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--text);
}

.splash-logo {
  width: fit-content;
}

.btn-splash {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.btn-login {
  background-color: var(--main);
}

.nav-bar {
  height: 4rem;
  background-color: var(--main);
  color: white;
}

.login-form {
  div {
    margin-bottom: 0 !important;

    input {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      border-top: 0;
      border-radius: 0%;
    }
  }

  div:first-of-type {
    input {
      border-top: 1px solid #ced4da; /* Replace with the desired border color */
    }
  }
}

.flash-messages-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  z-index: 1000;
  pointer-events: none;
}

[data-flash-type] {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.hide-flash {
  animation: hideFlash 5s forwards;
}

@keyframes hideFlash {
  to {
    display: none;
    opacity: 0;
  }
}

#groups {
  max-height: calc(100vh - 176px);
  overflow-y: auto;
}

.fixed-bottom {
  margin: 20px;
}

.btn-new {
  outline: var(--second) solid 20px;
  width: 100%;
  height: 80px;
  background-color: var(--second);
  border: white solid 2px;
}

hr {
  margin-left: auto;
  margin-right: auto;
  max-width: 96%;
}
