<div id="<%= dom_id log %>">
  <p>
    <strong>Name:</strong>
    <%= log.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= log.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= log.user_id %>
  </p>

</div>
