<div id="<%= dom_id log %>" class="card cards my-3">
<div class='card-body container-md'>
  <div class='row align-items-end'>
    <div class='col-9 fs-3'>
      <%= log.name %>
    </div>
    <div class='col text-center fs-3'>
      $<%= log.amount %>
    </div>
  </div>

  <div class='row'>
    <div class='col p-0'>
      <hr />
    </div>
  </div>

  <div class='row'>
    <div class='col fw-light'>
      <%= log.created_at.strftime('%d %b %Y') %>
    </div>
  </div>
</div>
</div>
